In [9]:
a = 5
type(a)

int

# Text type

In [11]:
name = "hello"
print(name)
print(type(name))

hello
<class 'str'>

# Numeric type

In [16]:
x = 5
y = 45.5
z = 5j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

# sequence type

In [18]:
x = ['apple','orange',5]
print(type(x))

<class 'list'>

In [21]:
y = ('apple','orange',5)
print(type(y))

<class 'tuple'>

In [30]:
z = range(6)
print(z)
print(type(z))

range(0, 6)
<class 'range'>

# mapping type

In [31]:
name = {'name':'shivani','branch':'cse'}
print(type(name))

<class 'dict'>

# set type

In [42]:
ab = {"apple","mango","grapes","apple"}
print(ab)
abc = ["apple","mango","grapes","apple"]
print(abc)
print(type(ab))

{'mango', 'apple', 'grapes'}
['apple', 'mango', 'grapes', 'apple']
<class 'set'>

In [43]:
__frozenset = frozenset({"apple","mango","grapes"})
print(type(__frozenset))

<class 'frozenset'>

# boolean type

In [2]:
s = 5
print(s>5)
print(s>=5)

False
True

# binary types

In [3]:
x = b"hello"
print(type(x))

<class 'bytes'>

In [4]:
y = bytearray(5)
print(type(y))

<class 'bytearray'>

In [12]:
z = memoryview(bytes(5))
print(z)
print(type(z))

<memory at 0x000002445CD5FD08>
<class 'memoryview'>

In [21]:
x = "5"
s = str(5)
y = int(45.5)
print(y)
z = 5j
print(type(s))
print(type(x))
print(type(y))
print(type(z))

45
<class 'str'>
<class 'str'>
<class 'int'>
<class 'complex'>