# Arithmetic operators

In [1]:
x = 40
y = 5
print(x+y)

45

In [2]:
print(x-y)

35

In [3]:
print(x*y)

200

In [4]:
print(x/y)

8.0

In [5]:
print(x%y)

0

In [6]:
x = 7
y = 3
z = x**y
print(z)
# 7*7*7

343

In [7]:
print(x/y)

2.3333333333333335

In [8]:
print(x//y)

2

# Assignment operators

In [9]:
x = 5
print(x)

5

In [10]:
x += 3 # x = x+3
print(x)

8

In [11]:
x -= 4 
print(x)

4

In [12]:
x *= 3 # x = x*3
print(x)

12

In [13]:
x /= 4
print(x)

3.0

In [14]:
x %= 3
print(x)

0.0

In [15]:
x = 7
x //= 3
print(x)

2

In [16]:
x **=3
print(x)

8

# comparison operators

In [17]:
x = 5
y = 4
print(x == y)

False

In [18]:
print(x != y)

True

In [19]:
print(x > y)

True

In [20]:
print(x < y)

False

In [21]:
print(x>= y)

True

In [22]:
y = 5
print(x <= y)

True

# Logical opeartors

In [23]:
x = 4
y = 3
print(x > 3 and y > 3)

False

In [24]:
print(x > 3 or y > 3)

True

In [25]:
not (x > 3 and y > 3)

True

In [26]:
not (x > 3 or y > 3)

False

In [27]:
not (x >= 4)

False

# Identity opeartors

In [28]:
x = ["Apple","Banana"]
y = ["Apple","Banana"]
z = x
print(x is y)
print(x is z)
print(x == y)

False
True
True

In [29]:
print(x is not y)
print(x is not z)

True
False

# Membership operators

In [30]:
x = ["Apple","Banana"]
y = "Apple is sour"
print("Apple" in x)
print("Apple" in y)

True
True

In [31]:
x = ["Apple","Banana"]
y = "Apple is sour"
print("Apples" not in x)
print("Apple" not in y)

True
False

# Bitwise opeartors

In [32]:
x = bin(5)
print(x)

0b101

In [33]:
y = int(0b101)
print(y)

5

In [40]:
x = 30
y = 5
#x = bin(x)
#y = bin(y)
#print(x)
#print(y)
print(x & y)

4

In [ ]:
# 0b11110 = 30
# 2^4+2^3+2^2+2^1+2^0 = 16+8+4+2+1 = 31
# 0b101 = 5
# 0b10100 = 16+4 = 20
# 00001 = 1
# 2^2+2^1+2^0
# 1+2+8+16 = 27
# not = -x -1

In [35]:
print(x | y)

31

In [36]:
print(x ^ y)

27

In [37]:
print( ~x)

-31

In [39]:
print(y << 2)

20

In [42]:
print(y >> 2)

1